/* .parent .child1 .child2{
    color: red;
} */

.oddNum {
    background-color: rgb(216, 110, 154);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#element2 {
    color: blue;
    font-size: 36px;
}

#element3 {
    font-size: 24px;
}

#element4 {
    background-color: rgb(66, 167, 128);
    font-size: 24px;
    font-weight: bold;
}